<title th:text="${mainTitle}"/>

<meta charset="UTF-8"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="_csrf" th:content="${_csrf.token}"/>
<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
<meta th:each="metaItem : ${metaItems}" th:name="${metaItem.name}" th:content="${metaItem.content}" />

<script type="text/javascript" th:src="@{../../jquery/jquery-3.2.0.min.js}"/>
<script type="text/javascript" th:src="@{../../bootstrap/js/bootstrap.min.js}"/>
<script type="text/javascript" th:src="@{../../js/newsCreationForm.js}"/>
<script type="text/javascript" th:src="@{../../js/newsUpdateForm.js}"/>
<script type="text/javascript" th:src="@{../../js/ajax.js}"/>

<link rel="stylesheet" th:href="@{../../bootstrap/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{../../css/style.css}"/>

