<div class="row">
    <div class="col-xs-12">
        <div class="nav-bar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
            </div>
             <div class="navbar-collapse collapse sidebar-navbar-collapse" id="navbarCollapse">
                 <ul id="menu" class="nav navbar-nav">
                    <li id="menu_index" class="menu-item" th:each="menuItem : ${menuItems}">
                        <a th:title="${menuItem.title}" th:href="${menuItem.href}" th:text="${menuItem.label}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>