<hr class="footerSeparator"/>
<div class="container-fluid">
	<div class="row">
	    <div class="col-4">
	        <img class="img-fluid mx-auto d-block" th:src="@{../../img/footer/image_footer.png}" width="343" height="100" alt="Logo footer Centre Médical Paul Langevin"/>
	        <div class="d-block coordonnees">
	            <span th:text="${footer.rue}"/>
	            <br/>
	            <span th:text="${footer.ville}"/>
	            <br/>
	            <br/>
	            <span th:text="${footer.telephone}"/>
	        </div>
	    </div>
        <div class="col-8 footer-social text-center">
	        <div class="btn-group mt-6">
		           <a th:href="${footer.googlePlus}" class="mr-6">
	                    <i class="fa fa-2 fa-google-plus fa-white"></i>
	               </a>
	               <a th:href="${footer.facebook}" class="mr-6">
	                    <i class="fa fa-2 fa-facebook fa-white"></i>
	               </a>               
	               <a th:href="${footer.email}" class="mr-6">
	                    <i class="fa fa-2 fa-envelope fa-white"></i>
	               </a>                
	        </div>
        </div>
	</div>
	<div class="row">
		<div class="col mb-3">
		  <div class="text-center">
		      <span class="mentionsLegales " th:utext="${footer.libelle}"/>
		  </div>
		</div>
	</div>
</div>
