<div class="row">
	<div class="col-xs-12">
		<div class="nav-bar navbar-default">
		    <div class="navbar-header">
			    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		    </div>
		     <div class="navbar-collapse collapse sidebar-navbar-collapse" id="navbarCollapse">
			     <ul id="menu" class="nav navbar-nav">
		            <li id="menu_index" class="menu-item dropdown" th:each="menuItem : ${menuItems}" th:classappend="${menuItem.customCssClass}">
		                <a th:if="${(menuItem.subMenuItems.size() > 0)}" 
		                   class="dropdow-toggle"  
		                   data-toggle="dropdown" 
		                   th:title="${menuItem.title}" 
		                   th:href="${menuItem.href}" 
		                   th:text="${menuItem.label}" 
		                   onhover="onhover()"/>
		                <ul th:if="${(menuItem.subMenuItems.size() > 0)}" class="dropdown-menu multi-level">
		                  <li class="dropdown-submenu"  th:each="subMenuItem : ${menuItem.subMenuItems}">
		                       <a th:title="${subMenuItem.title}" th:href="${subMenuItem.href}" th:text="${subMenuItem.label}"/>
		                  </li>
		                </ul>
		                <a th:if="${!(menuItem.subMenuItems.size() > 0)}" 
		                   th:title="${menuItem.title}" 
		                   th:href="${menuItem.href}" 
		                   th:text="${menuItem.label}"/>
		            </li>
		        </ul>
		    </div>
	    </div>
	</div>
</div>
