<form id="widgetUpdateForm" th:object="${updateForm}">
    <div class="form-group mb-3" id="formInputDatasource">
        <label th:text="#{widget.datasource.label}"/>
        <select th:field="*{entityId}" class="form-control">
            <option value=""></option>
            <option th:each="entity : ${linkableEntities}" th:value="${entity.id}" th:text="${entity.name}"></option>
        </select>
        <div id="feedbackEntity" class="form-control-label"></div>
        <small class="form-text text-muted" th:text="#{widget.datasource.help}"/>
    </div>
    <div class="form-group mb-3" id="formInputPersonalization">
        <label th:text="#{widget.personalization.label}"/>
        <textarea rows="3" id="widgetPersonalization" class="form-control" th:field="*{personalization}"/>
        <div id="feedbackPersonalization" class="form-control-label"></div>
        <small class="form-text text-muted" th:text="#{widget.personalization.help}"/>
    </div>
    <input type="hidden" th:field="*{name}"/>
    <input type="hidden" th:field="*{type}"/>
    <input type="hidden" th:field="*{id}"/>
    <input type="hidden" th:field="*{creationDate}"/>
    <input type="hidden" th:field="*{modificationDate}"/>
    <div class="float-right">
        <a class="btn btn-md btn-danger fa fa-times fa-white" onclick="cancelUpdateWidget()"></a>
        <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postUpdateWidgetForm()"></a>
    </div>
</form>
<div class="card card-loader">
    <div class="loader"/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
            $(".card-loader").hide();
            $(".loader").hide();
        }
    );
</script>