.classpath
*.project
.settings/org.eclipse.core.resources.prefs
*.prefs
data/*
target/*
*/target/*
*\target\*

.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
*.iml
.idea/
.idea\
/.settings/

*.class