<div class="card card-block">
    <div class="row">
         <div class="col">
             <div class="pull-right ">
                 <a class="btn btn-md btn-primary fa fa-plus fa-white" 
                    href="/manager/medias/_upload" 
                    id="buttonAdd"></a>
             </div>
         </div>
    </div>
    <div class="row">
        <div th:each="media : ${wrappedMedias.page.content}" class="col-12 pagesElement">
         <div th:replace="back/medias/media_list_element :: mediaElement(${media})"/>
     </div>
    </div>
    <div th:replace="common/pagination :: pagination(${wrappedMedias})"/>
</div>