<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="pull-right ">
          <a class="btn btn-md btn-primary fa fa-plus fa-white"
             href="/manager/users/_create"
             id="buttonAdd" th:if="${currentUser.hasPrivilege('administration:users:create')}"></a>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr th:each="userBean : ${wrappedUsers.page.content}">
          <td>
            <a th:href="'/manager/users/' + ${userBean.id}" class="table-link">
              <span th:text="${userBean.login}"/>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:replace="common/pagination :: pagination(${wrappedUsers})"/>
  </div>

</div>
