<title th:text="#{main.title}"/>

<meta th:replace="${meta}"/>

<script type="text/javascript" th:src="@{../../jquery/jquery-3.2.0.min.js}"></script>
<script type="text/javascript" th:src="@{../../tether/js/tether.min.js}"></script>
<script type="text/javascript" th:src="@{../../bootstrap/v4/js/bootstrap.min.js}"></script>

<link rel="stylesheet" th:href="@{../../../fontawesome/css/font-awesome.min.css}"></link>
<link rel="stylesheet" th:href="@{../../bootstrap/v4/css/bootstrap.min.css}"></link>
<link rel="stylesheet" th:href="@{../../css/style.css}"></link>