<form id="newsEntryCreateForm" th:object="${newsFormBean}">
    <div class="card">
        <div class="card-block">
	        <div class="form-control mb-3" id="formInputTitle">
		        <label th:text="${newsFormLabels.titleLabel}" />
		        <input type="text" class="form-control" th:field="*{title}"/>
		        <div id="feedbackTitle" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.titleHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputAuthor">
		        <label th:text="${newsFormLabels.authorLabel}" />
		        <input type="text" class="form-control" th:field="*{author}"/>
		        <div id="feedbackAuthor" class="form-control-label" ></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.authorHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputTags">
		        <label th:text="${newsFormLabels.tagsLabel}" />
		        <input type="text" class="form-control" th:field="*{tags}"/>
		         <div id="feedbackTags" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.tagsHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputContent">
		        <label th:text="${newsFormLabels.contentLabel}" />
		        <textarea rows="3" class="form-control" th:field="*{content.content}"/>
		         <div id="feedbackContent" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.contentHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputImage">
		        <div class="dragndrop">
			        <div class="drop_zone">
		               <span th:text="${newsFormLabels.imageDropLabel}"/>
		               <br/>
			           <label class="btn btn-primary mt-3" id="clickHere">
	                         <span th:text="${newsFormLabels.imageLabel}"/>
	                         <i class="fa fa-upload"/>
	                        <input type="file" class="form-control-file" th:field="*{image.src}" onchange="previewFile()"/>
	                   </label>
			        </div>
		        </div>
		        <div id="feedbackImage" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.imageHelp}"/>
		    </div>
		     <div class="mb-3" id="formPreviewImage">
		        <img class="img-fluid mx-auto d-block" src="" id="imagePreview"/>
		     </div>
		    <div class="form-control mb-3" id="formInputLegend">
		        <label th:text="${newsFormLabels.legendLabel}" />
		        <input type="text" class="form-control" th:field="*{image.legend}"/>
		         <div id="feedbackLegend" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.legendHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputAlt">
		        <label th:text="${newsFormLabels.altLabel}" />
		        <input type="text" class="form-control" th:field="*{image.alt}"/>
		         <div id="feedbackAlt" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.altHelp}"/>
		    </div>
        </div>
        <div class="card-footer">
            <div class="float-right">
		        <a class="btn btn-md btn-danger collapsed fa fa-times fa-white" 
		           href="/manager/news" 
		        />
		        <a class="btn btn-md btn-success fa fa-check fa-white"  onclick="postCreateNewsForm()"/>
		    </div>
        </div>
    </div>
</form>
<div class="loader"/> 
