<form id="newsEntryEditForm" th:object="${newsFormBean}">
	<div class="card">
	    <div class="card-block">
	        <div class="form-control mb-3" id="formInputTitle" >
		        <label th:text="${newsFormLabels.titleLabel}" />
		        <input type="text" class="form-control" th:field="*{title}"/>
		        <div id="feedbackTitle" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.titleHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputAuthor">
		        <label th:text="${newsFormLabels.authorLabel}" />
		        <input type="text" class="form-control"  th:field="*{author}"/>
		        <div id="feedbackAuthor" class="form-control-label" ></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.authorHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputTags">
		        <label th:text="${newsFormLabels.tagsLabel}" />
		        <input type="text" class="form-control" th:field="*{tags}"/>
		         <div id="feedbackTags" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.tagsHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputContent">
		        <label th:text="${newsFormLabels.contentLabel}" />
		        <textarea rows="3" class="form-control"  th:field="*{content.content}"/>
		         <div id="feedbackContent" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.contentHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputImage">
		        <label th:text="${newsFormLabels.imageLabel}" />
		        <input type="file" class="form-control-file"  onchange="previewFile()" th:field="*{image.src}"/>
		        <div id="feedbackImage" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.imageHelp}"/>
		    </div>
		     <div class="form-control mb-3" id="formPreviewImage">
		        <img src="" id="imagePreview"/>
		     </div>
		    <div class="form-control mb-3" id="formInputLegend">
		        <label th:text="${newsFormLabels.legendLabel}" />
		        <input type="text" class="form-control" th:field="*{image.legend}"/>
		         <div id="feedbackLegend" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.legendHelp}"/>
		    </div>
		    <div class="form-control mb-3" id="formInputAlt">
		        <label th:text="${newsFormLabels.altLabel}" />
		        <input type="text" class="form-control" th:field="*{image.alt}"/>
		         <div id="feedbackAlt" class="form-control-label"></div>
		        <small class="form-text text-muted" th:text="${newsFormLabels.altHelp}"/>
		    </div>
		    <input type="hidden"  th:field="*{id}"/>
		    <input type="hidden"  th:field="*{creationDate}"/>
		    <input type="hidden"  th:field="*{modificationDate}"/>
		    <input type="hidden"  th:field="*{content.id}"/>
		    <input type="hidden"  th:field="*{content.creationDate}"/>
		    <input type="hidden"  th:field="*{content.modificationDate}"/>
		    <input type="hidden"  th:field="*{image.id}"/>
		    <input type="hidden"  th:field="*{image.creationDate}"/>
		    <input type="hidden"  th:field="*{image.modificationDate}"/>
	    </div>
	    <div class="card-footer">
		    <div class="float-right">
		      <a class="btn btn-md btn-danger fa fa-times"  onclick="cancelUpdate()"/>
		      <a class="btn btn-md btn-success fa fa-check"  onclick="postUpdateNewsForm()"/>
		    </div>
	    </div>
	</div>
</form>
<div class="loader-form-container">
    <div class="loader"/> 
</div>

           
