<div class="panel panel-default">
    <div class="panel-body">
        <div class="form-inline">
           <div class="form-group">
              <span th:text="${newsBean.title}"/>
              <span th:text="${newsBean.panelHeading}"/>
           </div>
            <div class="form-group pull-right">
                <a th:title="Modifier" th:href="${newsBean.newsEntryModifyHref}" class="pull-right btn-md btn bt-primary glyphicon glyphicon-pencil"/>
            </div>
       </div>
    </div>
</div>