<div class="card card-block">
	<div class="row">
		 <div class="col">
		     <div class="pull-right ">
		         <a class="btn btn-md btn-primary fa fa-plus fa-white" 
		            href="/manager/news/_create" 
		            id="buttonAdd"/>
		     </div>
		 </div>
	</div>
	<div class="row">
	    <div th:each="newsBean : ${wrappedNews.page.content}" class="col-12 newsElement">
	     <div th:replace="back/news/news_list_element :: newsElement(${newsBean})"/>
	 </div>
	</div>
	<div th:replace="common/pagination :: pagination(${wrappedNews})"/>
 </div>
