<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/back_header"/>
<body class="main">
    <div class="container">
        <div th:include="common/menu"/>
        <div class="row">
            <div class="col-xs-12">
               <div class="panel panel-default">
                     <div class="panel-body">
                        <div th:each="newsBean : ${newsEntries}">
                            <div th:replace="back/news/news_list_element"/>
                        </div>
                      </div>
                </div>
            </div>
        </div>
     </div>
</body>
<footer th:include="common/back_footer"></footer>
</html>