<div class="row">
	<div class="col">
	   <div class="card">
			 <div class="card-block">
				<p>Le centre m&eacute;dical Paul Langevin regroupe deux m&eacute;decins sp&eacute;cialis&eacute;s dans la m&eacute;decine esth&eacute;tique et anti-&acirc;ge, une m&eacute;decin gyn&eacute;cologue et deux infirmi&egrave;res qualifi&eacute;es dans la pratique des soins de m&eacute;decine esth&eacute;tique.</p>

				<p>Nous vous proposons tous les soins qui contribueront &agrave; votre bien-&ecirc;tre et qui r&eacute;pondront &agrave; vos demandes gr&acirc;ce &agrave; des technologies m&eacute;dicales innovantes de derni&egrave;re g&eacute;n&eacute;ration.</p>

				<p>Equip&eacute; de la gamme de laser Alma, le centre m&eacute;dical Paul Langevin permet de r&eacute;pondre efficacement aux demandes concernant le vieillissement du visage gr&acirc;ce au recours &agrave; des techniques combin&eacute;es, associant comblement par acide hyaluronique, lift m&eacute;dical par radiofr&eacute;quence ou encore peeling chimique.</p>

				<p>Nous proposons &eacute;galement des soins esth&eacute;tiques de la peau avec &eacute;limination des t&acirc;ches pigmentaires, couperose, varicosit&eacute;s, photo-rajeunissement, att&eacute;nuation des cicatrices et des vergetures, d&eacute;tatouage...</p>

				<p>Le centre m&eacute;dical Paul Langevin vous propose l&#39;&eacute;pilation d&eacute;finitive par tout temps et sur tout type de peau gr&acirc;ce au laser Soprano Ice 2.</p>

				<p>Nous sommes &eacute;galement sp&eacute;cialis&eacute;s dans la m&eacute;decine esth&eacute;tique g&eacute;nitale et mettons &agrave; votre disposition la technologie de l&#39;Exilis ultra pour r&eacute;aliser des remises en tension vaginale. Nous vous proposons &eacute;galement des labioplasties et nymphoplasties m&eacute;dicales ainsi que des injections d&#39;acide hyaluronique intravaginale.</p>

				<p>N&#39;h&eacute;sitez pas &agrave; nous contacter, nous nous ferons un plaisir de vous accueillir et de vous pr&eacute;senter les actes et les soins pratiqu&eacute;s par notre &eacute;quipe d&#39;experts. Nous avons toujours le souci de proposer les actes &agrave; des tarifs raisonnables permettant l&#39;acc&egrave;s aux soins au plus grand nombre.</p>

				<p>&nbsp;</p>

				<p>Test ezr zer&nbsp;</p>
			</div>
		</div>
	</div>
</div>
