<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header"/>
<body class="main">
    <div class="container">
	    <div th:include="common/logo"/>
	    <div th:include="common/menu"/>
	    <div class="row">
            <div class="col-xs-12">
               <div class="panel panel-default">
		             <div class="panel-body">
		               <p>
		               Le centre médical Paul Langevin regroupe deux médecins spécialisés dans la médecine esthétique et anti-âge, une médecin gynécologue et deux infirmières qualifiées dans la pratique des soins de médecine esthétique.
		               </p>
		               <p>
		               Nous vous proposons tous les soins qui contribueront à votre bien-être et qui répondront à vos demandes grâce à des technologies médicales innovantes de dernière génération.
		               </p>
		               <p>
		               Equipé de la gamme de laser Alma, le centre médical Paul Langevin permet de répondre efficacement aux demandes concernant le vieillissement du visage grâce au recours à des techniques combinées, associant comblement par acide hyaluronique, lift médical par radiofréquence ou encore peeling chimique.
		               </p>
		               <p>
		               Nous proposons également des soins esthétiques de la peau avec élimination des tâches pigmentaires, couperose, varicosités, photo-rajeunissement, atténuation des cicatrices et des vergetures, détatouage...
		               </p>
		               <p>
                       Le centre médical Paul Langevin vous propose l'épilation définitive par tout temps et sur tout type de peau grâce au laser Soprano Ice 2.
                       </p>
                       <p>
                       Nous sommes également spécialisés dans la médecine esthétique génitale et mettons à votre disposition la technologie de l'Exilis ultra pour réaliser des remises en tension vaginale. Nous vous proposons également des labioplasties et nymphoplasties médicales ainsi que des injections d'acide hyaluronique intravaginale.
                       </p>
                       <p>
                       N'hésitez pas à nous contacter, nous nous ferons un plaisir de vous accueillir et de vous présenter les actes et les soins pratiqués par notre équipe d'experts. Nous avons toujours le souci de proposer les actes à des tarifs raisonnables permettant l'accès aux soins au plus grand nombre.
                       </p>
		            </div>
		        </div>
	        </div>
	    </div>
    </div>
</body>
<footer th:include="common/footer"></footer>
</html>