<div class="row">
	<div class="col">
	   <div class="card">
			 <div class="card-block">
				<div class="card"  th:if="${not #lists.isEmpty(wrappedNews.page.content)}">
					 <div th:each="newsBean : ${wrappedNews.page.content}">
						 <div th:replace="pages/actualites/news_entry :: newsEntry(${newsBean})"/>
					 </div>
					 <div th:replace="common/pagination :: pagination(${wrappedNews})"/>
				</div>

				<div th:if="${#lists.isEmpty(wrappedNews.page.content)}" class="text-center">
				   <span  th:text="${emptyMessage}"></span>
				</div>
			</div>
		</div>
	</div>
</div>


