<div class="panel panel-default">
	<div class="panel-heading">
	    <h3 th:text="${newsEntry.title}"/>
	    <div>
	        <span th:text="${newsEntry.panelHeading}"/>
	    </div>
	</div>
	<div class="panel-body" th:if="${newsEntry.displayContent || newsEntry.displayImage}">
	   <figure th:if="${newsEntry.displayImage}">
	       <img class="newsImage" th:src="${newsEntry.image}" th:alt="${newsEntry.alt}" th:height="${newsEntry.imageHeight}" th:width="${newsEntry.imageWidth}"/>
	       <figcaption class="text-right" th:text="${newsEntry.legend}"/>
	   </figure> 
	   <p th:if="${newsEntry.displayContent}" th:text="${newsEntry.content}"/>
	</div>
	<div class="panel-footer" th:if="${newsEntry.displayTags}">
	   <div class="form-inline">
	       <div class="form-group">
	          <span th:each="tag : ${newsEntry.tags}" class="badge" th:text="${tag}"/>
	       </div>
	   </div>
	</div>
</div>
