<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{../../css/style.css}"/>
        <link rel="stylesheet" th:href="@{../../bootstrap/v4/css/bootstrap.min.css}"/>
    </head>
	<body class="main">
		   <a th:href="${facebookLink}" class="hidden-md-down">
		       <img class="img-fluid" th:src="@{../../img/soon.jpg}"  width="1920" height="1080" alt="Bientôt"/>
		   </a>
		    <a th:href="${facebookLink}" class="hidden-sm-down hidden-lg-up">
               <img class="img-fluid" th:src="@{../../img/soon_ipad.jpg}" width="2048" height="2732" alt="Bientôt"/>
           </a>
            <a th:href="${facebookLink}" class="hidden-md-up"> 
               <img class="img-fluid" th:src="@{../../img/soon_smartphone.jpg}" width="700" height="1245" alt="Bientôt"/>
           </a>
	</body>
</html> 