<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header"/>
<body class="main">
    <div class="container-fluid">
        <div th:include="common/logo"/>
        <div th:include="common/menu"/>
        <div class="row">
            <div class="col-xs-12">
               <div class="panel panel-default">
                     <div class="panel-body">
                       <p>Les techniques</p>
                       <div id="soprano">
	                        <p>
	                        Laser Soprano Ice - épilation définitive
	                        </p>
                       </div>
                       <div id="erbium">
	                        <p>
	                        Laser Harmony XL Erbium Glass 1540nm - traitement de l'acné inflammatoire
	                        </p>
                       </div>
                       <div id="switched">
	                        <p>
	                        Laser Harmony XL Q-Switched KTP 532nm + Nd:YAG 1064nm - détatouage, lésions vasculaires profondes
	                        </p>
                       </div>
                       <div id="dye">
	                        <p>
	                        Laser Harmony XL Dye VL - lésion vasculaire/pigmentaire du visage
	                        </p>
                       </div>
                       <div id="longPulse">
	                        <p>
	                        Laser Harmony XL Long Pulse Nd:YAG 1064nm - lésion vasculaire, épilation
	                        </p>
                       </div>
                       <div id="legato">
	                        <p>
	                        Legato II Impact/iPixel radiofréquence  - vergetures, cicatrices, rajeunissement cutané
	                        </p>
                       </div>
                       <div id="exilisCutane">
	                        <p>
	                        Exilis radiofréquence- lipodissolution, remise en tension cutanée
	                        </p>
                       </div>
                       <div id="exilisGenital">
	                        <p>
	                        Exilis radiofréquence Femina 360 - remise en tension vaginale
	                        </p>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<footer th:include="common/footer"></footer>
</html>