<div class="card-group">
  <div class="card">
    <img class="card-img-top" th:src="@{../../img/logo/logoSmall.jpg}" alt="soprano"/>
    <div class="card-block">
      <h4 class="card-title">Soprano</h4>
      <p class="card-text">
         <a href="#soprano">
            Laser Soprano Ice - &eacute;pilation d&eacute;finitive
         </a>
       </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" th:src="@{../../img/logo/logoSmall.jpg}" alt="erbium"/>
    <div class="card-block">
      <h4 class="card-title">Erbium</h4>
      <p class="card-text">
	      <a href="#erbium">
	       Laser Harmony XL Erbium Glass 1540nm - traitement de l'acn&eacute; inflammatoire
	      </a>
      </p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" th:src="@{../../img/logo/logoSmall.jpg}" alt="switched"/>
    <div class="card-block">
      <h4 class="card-title">Switched</h4>
      <p class="card-text">
          <a href="#switched">
           Laser Harmony XL Q-Switched KTP 532nm + Nd:YAG 1064nm - d&eacute;tatouage, l&eacute;sions vasculaires profondes
          </a>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" th:src="@{../../img/logo/logoSmall.jpg}" alt="dye"/>
    <div class="card-block">
      <h4 class="card-title">Dye</h4>
      <p class="card-text">
          <a href="#dye">
           Laser Harmony XL Dye VL - l&eacute;sion vasculaire/pigmentaire du visage
          </a>
      </p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" th:src="@{../../img/logo/logoSmall.jpg}" alt="longPulse"/>
    <div class="card-block">
      <h4 class="card-title">LongPulse</h4>
      <p class="card-text">
          <a href="#longPulse">
           Laser Harmony XL Long Pulse Nd:YAG 1064nm - l&eacute;sion vasculaire, &eacute;pilatio
          </a>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" th:src="@{../../img/logo/logoSmall.jpg}" alt="legato"/>
    <div class="card-block">
      <h4 class="card-title">Legato</h4>
      <p class="card-text">
          <a href="#legato">
           Legato II Impact/iPixel radiofr&eacute;quence  - vergetures, cicatrices, rajeunissement cutan&eacute;
          </a>
      </p>
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card">
    <img class="card-img-top" th:src="@{../../img/logo/logoSmall.jpg}" alt="exilisCutane"/>
    <div class="card-block">
      <h4 class="card-title">ExilisCutane</h4>
      <p class="card-text">
          <a href="#exilisCutane">
           Exilis radiofr&eacute;quence- lipodissolution, remise en tension cutan&eacute;e
          </a>
      </p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" th:src="@{../../img/logo/logoSmall.jpg}" alt="exilisGenital"/>
    <div class="card-block">
      <h4 class="card-title">ExilisGenital</h4>
      <p class="card-text">
          <a href="#exilisGenital">
           Exilis radiofr&eacute;quence Femina 360 - remise en tension vaginale
          </a>
      </p>
    </div>
  </div>
</div>
<p>Les techniques</p>
<div id="soprano">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/>
   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div id="erbium">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/>
   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div id="switched">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/>
   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div id="dye">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/>
   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div id="longPulse">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/>
   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div id="legato">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/>
   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div id="exilisCutane">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/>
   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
<div id="exilisGenital">
  <p>
   Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br/>
   Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br/>
   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <br/>
   Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</div>
                    