<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{../../css/style.css}"/>
        <link rel="stylesheet" th:href="@{../../bootstrap/v4/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="@{../../../../fontawesome/css/font-awesome.min.css"/>
    </head>
    <body class="main">
        <div class="container-fluid full-size">
	         <div class="row ">
	             <div class="col-12">
	               <div class="text-center mt-5">
                       <h1>404</h1>
                       <h3 class="font-bold">La page demand&eacute;e n&apos;existe pas</h3>
                       <div class="error-desc">
                           Veuillez v&eacute;rifier l&apos;url et rafraichir la page apr&egrave;s l&apos;avoir modifi&eacute;e<br/>
                           Ou alors cliquez sur le bouton pour revenir &agrave; l&apos;ccueil du site :<br/>
                           <a href=".." class="btn btn-primary mt-3">
                                <i class="fa fa-home fa-4x"/>
                           </a>
                       </div>	               
	               </div>
	             </div>
	         </div>
        </div>
    </body>
</html> 