/**
COMMON
*/

body{
    text-overflow: ellipsis;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#buttonAdd, .newsElement {
    margin-bottom: 5px;
}

.card-block{
    word-break:break-all;
}


/**
PAGE SOON
*/

.soonImage, .newsImage {
    width: 100%;
    height: auto;
}


/**
MENU
*/
@media (min-width: 800px) {
  ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    background-color: #f7f7f7;
    border: none;
  }
}

ul.dropdown-menu{
	max-width: 400px; 
}

/**
ACTUALITES
*/
.video-container{
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
FOOTER
*/

footer{
	color: #ffffff;
	background-color: #4DA6B3;
}

footer .footer-social a:hover, footer .footer-social a:focus{
	color: #ffffff;
	text-decoration: none;
}

.coordonnees{
    margin-left: 29%;
}

.mt-6{
	margin-top: 5rem!important;
}

.mr-6{
    margin-right: 5rem!important;
}

/**
FONT AWESOME
*/

.fa-white{
    color: #ffffff !important;
}

.fa-2{
	font-size: 2em;
}