body{
	text-overflow: ellipsis;
}

.newsImage {
    width: 100%;
    height: auto;
}
@media (min-width: 800px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    
  }
}

ul.dropdown-menu{
	max-width: 400px; 
}

#buttonAdd, .newsElement {
	margin-bottom: 5px;
}

a {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
}
