/**
COMMON
*/

html,body{
	height: 100%;
	margin: 0;
    padding: 0;
}
body{
    text-overflow: ellipsis;
    position: relative;
    min-height: 100%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#buttonAdd, .newsElement {
    margin-bottom: 5px;
}

.card-block{
    word-break:break-all;
}

.full-size{
	min-height: 100%;
}

.full-size:after{
	display: block;
	
}


/**
CAROUSEL
*/

.carousel-indicators li{
	background-color: #38A6B2;
    height: 20px;
    max-width: 20px;
	border-radius: 50%;
	margin-top: 2.5px;
}

.carousel-indicators .active{
    background-color: #1C5359;
    height: 25px;
    max-width: 25px;
    margin-top: 0px;
}

.carousel-control-next-icon {
    background-image : url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#38A6B2' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#38A6B2' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-indicators > li {
 
}

/**
PAGE SOON
*/

.soonImage, .newsImage {
    width: 100%;
    height: auto;
}


/**
MENU
*/
@media (min-width: 800px) {
  ul.navbar-nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
    background-color: #f7f7f7;
    border: none;
  }
}

ul.dropdown-menu{
	max-width: 400px; 
}

/**
ACTUALITES
*/
.video-container{
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.stickyImport{
       position: fixed;
       right: 0;
       top: 50%;
       margin: 0 1% 0 0;
       z-index: 9999;
}
   
@media (min-width: 1800px) {
	.stickyImport{
		position: fixed;
	    right: 0;
	    top: 50%;
	    margin: 0 8% 0 0;
	    z-index: 9999;
	}
}


/**
FOOTER
*/

footer{
	color: #ffffff;
	background-color: #38A6B2;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer .full-size:after{
	height: 269px;
}

footer .footer-social a:hover, footer .footer-social a:focus{
	color: #ffffff;
	text-decoration: none;
}

.coordonnees{
    margin-left: 29%;
}

.mt-6{
	margin-top: 5rem!important;
}

.mr-6{
    margin-right: 5rem!important;
}

/**
FONT AWESOME
*/

.fa-white{
    color: #ffffff !important;
}

.fa-2{
	font-size: 2em;
}

