<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/back_header"/>
<body class="main">
    <div class="container container-fluid">
        <div th:include="common/back_logo"/>
        <div th:include="common/menu"/>
        <div class="row">
            <div class="col-xs-12">
                <div id="accordion" class="panel-group">
                   <div class="panel panel-default panel-body">
                    <div th:if="${feeds}">
	                    <div class="form-inline" th:each="feed : ${feeds}">
	                    <div class="form-group">
                             <span>Titre: </span><span th:text="${feed.title}"></span>
                            </div>
	                        <div class="form-group">
	                         <span>Description: </span><span th:text="${feed.description}"></span>
	                        </div>
	                        <div class="form-group">
                             <span>Type: </span><span th:text="${feed.type}"></span>
                            </div>
	                    </div>
                    </div>     
                   </div>
               </div>
            </div>
        </div>
     </div>
</body>
</html>