<form id="carouselItemForm" th:object="${createForm}" class="row">
    <div class="mb-3 col-12">
        <div class="form-group mb-3" id="formInputOrderInCarousel">
            <label th:text="#{carousel.item.order.label}"/>
            <input type="number" class="form-control" th:field="*{orderInCarousel}"/>
            <div id="feedbackOrderInCarousel"></div>
            <small class="form-text text-muted" th:text="#{carousel.item.order.help}"/>
        </div>
        <div class="form-group mb-3" id="formInputContent">
            <label th:text="#{carousel.item.media.label}"/>
            <select th:field="*{mediaId}" class="form-control">
                <option th:each="media : ${medias}" th:value="${media.id}" th:text="${media.name}"></option>
            </select>
            <div id="feedbackMedia"></div>
            <small class="form-text text-muted" th:text="#{carousel.item.media.help}"/>
        </div>
        <div class="float-right">
            <a class="btn btn-md btn-success fa fa-plus fa-white" onclick="postCreateCarouselItemForm()"></a>
        </div>
    </div>
    <input type="hidden" th:field="*{carouselId}"/>
</form>
<div class="row mt-3" id="associatedItems">
    <div th:each="carouselItem : ${items}" class="col-12 carouselItems">
        <div class="card mb-3">
            <div class="card-body">
                <div class="form-group">
                    <label th:text="#{carousel.item.order.label}"/>
                    <input type="text" class="form-control" th:value="${carouselItem.orderInCarousel}" disabled="true"/>
                </div>
                <div class="form-group">
                    <label th:text="#{carousel.item.media.label}"/>
                    <input type="text" class="form-control" th:value="${carouselItem.media.name}" disabled="true"/>
                </div>
                <div class="float-right mt-2">
                    <a class="btn btn-md btn-danger fa fa-times fa-white" th:id="${carouselItem.id}"
                       onclick="deleteCarouselItem(this.id)"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-loader">
    <div class="loader"/>
</div>
<script type="text/javascript">
    $(document).ready(function () {
            $(".card-loader").hide();
            $(".loader").hide();
        }
    );

    function deleteCarouselItem(idCarouselItem) {

        $("#carouselItemForm").hide();
        $("#associatedItems").hide();
        $(".loader").show();
        var url = "/manager/carousels/" + [['' + ${createForm.carouselId} +'']] + "/items/" + idCarouselItem;
        $.ajax({
            url: url,
            type: "DELETE",
            success: function () {
                currentTab = "";
                $(".loader").hide();
                goToItemsTab();
            },
            error: function () {
                currentTab = "";
                $(".loader").hide();
                goToItemsTab();

            }

        });
    }

    function postCreateCarouselItemForm() {
        $("#carouselItemForm").hide();
        $("#associatedItems").hide();
        $(".loader").show();
        var url = "/manager/carousels/" + [['' + ${createForm.carouselId} +'']] + "/items";

        var carouselItemForm = {};
        var inputOrderInCarousel = $("#orderInCarousel");
        var inputMediaId = $("#mediaId");
        var inputCarouselId = $("#carouselId");

        carouselItemForm.orderInCarousel = inputOrderInCarousel.val();
        carouselItemForm.mediaId = inputMediaId.val();
        carouselItemForm.carouselId = inputCarouselId.val();

        var data = JSON.stringify(carouselItemForm);
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            contentType: "application/json; charset=utf-8",
            crossDomain: true,
            dataType: "json",
            success: function (data) {
                currentTab = "";
                goToItemsTab();
                $(".loader").hide();
            },
            error: function () {
                currentTab = "";
                goToItemsTab();
                $(".loader").hide();
            }
        });
    }
</script>
<script th:inline="javascript">

</script>