<div class="card mb-4">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="pull-right ">
          <a class="btn btn-md btn-primary fa fa-plus fa-white"
             href="/manager/news/_create"
             id="buttonAdd" th:if="${currentUser.hasPrivilege('webmastering:news:create')}"></a>
        </div>
      </div>
    </div>
    <div class="row mt-2">
      <table class="table table-bordered table-hover">
        <tbody>
        <tr th:each="newsBean : ${wrappedNews.page.content}">
          <td>
            <a th:href="'/manager/news/' + ${newsBean.id}" class="table-link">
              <span th:text="${newsBean.title}"/>
              <span th:text="#{news.entry.by}"/>
              <span th:text="${newsBean.author}"/>
              <span th:text="#{news.entry.the}"/>
              <span
                  th:text="${#temporals.format(newsBean.creationDate, 'dd/MM/yy')}"/>
              <span th:text="#{news.entry.at}"/>
              <span
                  th:text="${#temporals.format(newsBean.creationDate, 'HH:mm')}"/>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div th:replace="common/pagination :: pagination(${wrappedNews})"/>
  </div>
</div>
