<div role="tabpanel">
    <ul class="nav nav-tabs" id="pageTabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab"  onclick="goToMainTab()">
                <span th:text="#{page.tab.main}"/>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="body-tab" data-toggle="tab" href="#" role="tab"  onclick="goToBodyTab()" >
              <span th:text="#{page.tab.body}"/>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="meta-tab" data-toggle="tab" href="#" role="tab"  onclick="goToMetaTab()" >
               <span th:text="#{page.tab.meta}"/>
            </a>
        </li>
         <li class="nav-item">
            <a class="nav-link" id="meta-tab" data-toggle="tab" href="#" role="tab"  onclick="goToOpenGraphMetaTab()" >
               <span th:text="#{page.tab.open.meta}"/>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="pageTabContent">
        <div role="tabpanel" class="tab-pane fade active show" id="ajaxTab">
        </div>
    </div>
</div>
<div class="card">
    <div class="loader"/> 
</div>
<script th:inline="javascript">
var goToBodyTab =  function(){
	var url = "/manager/pages/"+[[''+${updateForm.id}+'']]+"/_body";
    $.get(url, function (data) {
     $("#ajaxTab").html(data);
     CKEDITOR.replace("pageBody");
   });
};

var goToMetaTab =  function (){
	var url = "/manager/pages/"+[[''+${updateForm.id}+'']]+"/_meta";
	 $.get(url, function (data) {
	     $("#ajaxTab").html(data);
	   });
};

var goToOpenGraphMetaTab =  function (){
    var url = "/manager/pages/"+[[''+${updateForm.id}+'']]+"/_open_graph_meta";
     $.get(url, function (data) {
         $("#ajaxTab").html(data);
       });
};

var goToMainTab =  function(){
	var url = "/manager/pages/"+[[''+${updateForm.id}+'']]+"/_main";
	 $.get(url, function (data) {
	     $("#ajaxTab").html(data);
	   });
};

$(document).ready(function(){
        goToMainTab();
});
</script>


           
