<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <script type="text/javascript" th:src="@{../../jquery/jquery-3.2.0.min.js}"/>
        <script type="text/javascript" th:src="@{../../tether/js/tether.min.js}"/>
        <script type="text/javascript" th:src="@{../../bootstrap/v4/js/bootstrap.min.js}"/>
        <link rel="stylesheet" th:href="@{../../bootstrap/v4/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{../../css/style.css}"/>
        <script type="text/javascript">
	        $(document).ready(function(){
	        	  window.location.href="/manager/facebook/import";
	        });
        </script>
    </head>
    <body>
       <div class="container container-fluid">
           <div th:include="common/logo"/>
           <div class="row">
                <div class="col align-self-center">
                   <div class="card">
                       <div class="card-block ">
                        <div class="loader-container">
                            <div class="loader"/> 
                        </div>
                       </div>
                   </div>
                </div>
           </div>
       </div>
   </body>
</html>