<div class="card">
    <div role="tabpanel" class="card-header">
        <div class="mb-3">
            <span th:text="#{carousel.current}"></span>
            <span th:text="${updateForm.name}"></span>
        </div>
        <ul class="nav nav-tabs card-header-tabs" id="pageTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="main-tab" data-toggle="tab" href="#" role="tab"  onclick="goToMainTab()">
                    <span th:text="#{carousel.tab.main}"/>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="body-tab" data-toggle="tab" href="#" role="tab"  onclick="goToItemsTab()" >
                  <span th:text="#{carousel.tab.items}"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="tab-content card-block" id="pageTabContent">
        <div role="tabpanel" class="tab-pane fade active show" id="ajaxTab">
        </div>
    </div>
</div>
<div class="card">
    <div class="loader"/> 
</div>
<script th:inline="javascript">
var currentTab = "";
var goToItemsTab =  function (){
    if(currentTab !== "items"){
       var url = "/manager/carousels/"+[[''+${updateForm.id}+'']]+"/_items";
       $.get(url, function (data) {
           $("#ajaxTab").html(data);
           currentTab = "items";
         });
    }
};
var goToMainTab =  function(){
    if(currentTab !== "main"){
     var url = "/manager/carousels/"+[[''+${updateForm.id}+'']]+"/_main";
     $.get(url, function (data) {
         $("#ajaxTab").html(data);
         currentTab = "main";
       });
     }
};

$(document).ready(function(){
        goToMainTab();
});
</script>