<form id="pageUpdateForm" th:object="${updateForm}">
  <div class="row">
    <div class="col-9">
      <div class="form-group mb-3" id="formInputHeader">
        <label th:text="#{page.header.label}"/>
        <br/>
        <label th:text="#{page.widgets.linked.help}"/>
        <textarea rows="3" id="pageHeader" class="form-control" th:field="*{header}"/>
        <div id="feedbackHeader" class="form-control-label"></div>
        <small class="form-text text-muted" th:text="#{page.header.help}"/>
      </div>
      <input type="hidden" th:field="*{id}"/>
      <input type="hidden" th:field="*{name}"/>
      <input type="hidden" th:field="*{menuTitle}"/>
      <input type="hidden" th:field="*{body}"/>
      <input type="hidden" th:field="*{footer}"/>
    </div>
    <div class="col-3" id="dragAndDrop">
      <table class="table table-responsive-md table-hover table-bordered tabble-striped">
        <thead>
        <tr>
          <th scope="col">
            <label th:text="#{page.widgets.linked}"/>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="widget : ${linkedWidgets}">
          <td>
            <div th:attr="data-name=${widget.name}" class="linkedWidget" draggable="true">
              <label th:text="${widget.name}"/>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="float-right">
        <a class="btn btn-md btn-danger fa fa-times fa-white" onclick="cancelUpdatePage()"></a>
        <a class="btn btn-md btn-success fa fa-check fa-white" onclick="postUpdatePageForm()"></a>
      </div>
    </div>
  </div>


</form>
<div class="card card-loader">
  <div class="loader"/>
</div>
<script type="text/javascript">
  $(document).ready(function () {
        $(".card-loader").hide();
        $(".loader").hide();
      }
  );
</script>
