<form id="metaElementForm" th:object="${createForm}" class="row">
  <div class="mb-3 col-12">
    <div class="form-group mb-3" id="formInputName">
      <label th:text="#{meta.property.label}"/>
      <input type="text" class="form-control" th:field="*{property}"/>
      <div id="feedbackProperty" class="form-control-label"></div>
      <small class="form-text text-muted" th:text="#{meta.property.help}"/>
    </div>
    <div class="form-group mb-3" id="formInputContent">
      <label th:text="#{meta.content.label}"/>
      <input type="text" class="form-control" th:field="*{content}"/>
      <div id="feedbackContent" class="form-control-label"></div>
      <small class="form-text text-muted" th:text="#{meta.content.help}"/>
    </div>
    <div class="float-right">
      <a class="btn btn-md btn-success fa fa-plus fa-white"
         onclick="postCreateOpenGraphMetaForm()"></a>
    </div>
  </div>
</form>
<div class="row mt-3" id="associatedMeta">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">
        <label th:text="#{meta.property.label}"/>
      </th>
      <th scope="col" colspan="2">
        <label th:text="#{meta.content.label}"/>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="metaElement : ${metaElements}">
      <td>
        <input type="text" class="form-control" th:value="${metaElement.property}" disabled="true"/>
      </td>
      <td>
        <input type="text" class="form-control" th:value="${metaElement.content}" disabled="true"/>
      </td>
      <td class="text-center">
        <a class="btn btn-md btn-danger fa fa-times fa-white" th:id="${metaElement.id}"
           onclick="deleteMeta(this.id)"></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script th:inline="javascript">

  var deleteOpenMeta = function (idMetaElement) {

    $("#metaElementForm").hide();
    $("#associatedMeta").hide();
    $(".loader").show();
    var url = "/manager/pages/" + [['' + ${createForm.pageId} +'']] + "/openGraphMetas/"
        + idMetaElement;
    $.ajax({
      url: url,
      type: "DELETE",
      success: function () {
        currentTab = "";
        $(".loader").hide();
        goToOpenGraphMetaTab();
      },
      error: function () {
        currentTab = "";
        $(".loader").hide();
        goToOpenGraphMetaTab();

      }

    });
  }

  var postCreateOpenGraphMetaForm = function () {
    $("#metaElementForm").hide();
    $(".loader").show();
    var url = "/manager/pages/" + [['' + ${createForm.pageId} +'']] + "/openGraphMetas";

    var metaForm = {};
    var inputProperty = $("#property");
    var inputContent = $("#content");

    metaForm.property = inputProperty.val();
    metaForm.content = inputContent.val();

    var data = JSON.stringify(metaForm);
    $.ajax({
      type: "POST",
      url: url,
      data: data,
      contentType: "application/json; charset=utf-8",
      crossDomain: true,
      dataType: "json",
      success: function (data) {
        goToOpenGraphMetaTab();
      },
      error: function () {
        goToOpenGraphMetaTab();
      }
    });
  }
  $(document).ready(function () {
        $(".card-loader").hide();
        $(".loader").hide();
      }
  );
</script>