<form id="metaElementForm" th:object="${createForm}">
    <div class="card mb-3">
        <div class="card-block">
             <div class="form-control mb-3" id="formInputName">
                <label th:text="#{meta.property.label}" />
                <input type="text" class="form-control" th:field="*{property}"/>
                <div id="feedbackProperty" class="form-control-label"></div>
                <small class="form-text text-muted" th:text="#{meta.property.help}"/>
            </div>
            <div class="form-control mb-3" id="formInputContent">
                <label th:text="#{meta.content.label}" />
                <input type="text" class="form-control" th:field="*{content}"/>
                <div id="feedbackContent" class="form-control-label" ></div>
                <small class="form-text text-muted" th:text="#{meta.content.help}"/>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-right">
              <a class="btn btn-md btn-success fa fa-plus fa-white"  onclick="postCreateOpenGraphMetaForm()"/>
            </div>
        </div>
    </div>
</form>
<div class="card card-block">
    <div class="row">
        <div th:each="metaElement : ${metaElements}" class="col-12 metaElements">
         <div class="card mb-3">
            <div class="card-block">
               <div class="form-control">
                    <label th:text="#{meta.property.label}" />
                    <input type="text" class="form-control" th:value="${metaElement.property}" disabled="true"/>
                </div>
                <div class="form-control">
                   <label th:text="#{meta.content.label}" />
                   <input type="text" class="form-control" th:value="${metaElement.content}" disabled="true"/>
                </div>
            </div>
        </div>
     </div>
    </div>
</div>
<script th:inline="javascript">
var postCreateOpenGraphMetaForm = function(){
	$("#metaElementForm").hide();
    $(".loader").show();
    var url = "/manager/pages/"+[[''+${createForm.pageId}+'']]+"/openGraphMetas";
     
    var metaForm = {};
    var inputProperty= $("#property");
    var inputContent = $("#content");
    
    metaForm.property = inputProperty.val();
    metaForm.content = inputContent.val();
    
    var data = JSON.stringify(metaForm);
    $.ajax({
        type: "POST",
        url: url,
        data: data,
        contentType: "application/json; charset=utf-8",
        crossDomain: true,
        dataType: "json",
        success: function (data) {
        	goToOpenGraphMetaTab();
        },
        error: function(){
        	goToOpenGraphMetaTab();
        }
     });
}
</script>