<form id="pageBodyForm" th:object="${updateForm}">
    <div class="form-control mb-3" id="formInputBody">
        <label th:text="#{page.body.label}" />
        <textarea rows="3" id="pageBody" class="form-control" th:field="*{body}"/>
        <div id="feedbackBody" class="form-control-label"></div>
        <small class="form-text text-muted" th:text="#{page.body.help}"/>
    </div>
    <input type="hidden"  th:field="*{id}"/>
    <input type="hidden"  th:field="*{id}"/>
    <input type="hidden"  th:field="*{name}"/>
    <input type="hidden"  th:field="*{menuTitle}"/>
    <div class="float-right">
      <a class="btn btn-md btn-danger fa fa-times fa-white"  onclick="cancelUpdatePage()"/>
      <a class="btn btn-md btn-success fa fa-check fa-white"  onclick="postUpdatePageForm()"/>
    </div>
</form>
