<form id="pageUpdateForm" th:object="${updateForm}">
    <div class="form-control mb-3" id="formInputHeader">
        <label th:text="#{page.header.label}" />
        <textarea rows="3" id="pageHeader" class="form-control" th:field="*{header}"/>
        <div id="feedbackHeader" class="form-control-label"></div>
        <small class="form-text text-muted" th:text="#{page.header.help}"/>
    </div>
    <input type="hidden"  th:field="*{id}"/>
    <input type="hidden"  th:field="*{id}"/>
    <input type="hidden"  th:field="*{name}"/>
    <input type="hidden"  th:field="*{menuTitle}"/>
    <input type="hidden"  th:field="*{body}"/>
    <input type="hidden"  th:field="*{footer}"/>
    <div class="float-right">
      <a class="btn btn-md btn-danger fa fa-times fa-white"  onclick="cancelUpdatePage()"/>
      <a class="btn btn-md btn-success fa fa-check fa-white"  onclick="postUpdatePageForm()"/>
    </div>
</form>
